<mat-grid-list cols="1" rowHeight="80px">
  <mat-grid-tile>
    <mat-form-field class="query-box-holder" appearance="outline">
        <mat-label>Enter query</mat-label>
        <input type="text" (keyup.enter)="executeQuery()" matInput [formControl]="queryControl">
    </mat-form-field>
    <!-- <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
    </mat-autocomplete> -->
    <button type="button" (click)="executeQuery()" mat-button class="query-submit-button">Go</button>
  </mat-grid-tile>
</mat-grid-list>

<mat-accordion class="docs-headers-align">
  <mat-expansion-panel *ngFor="let doc of currentDocs">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ doc.humanName }}</mat-panel-title>
      <mat-panel-description>{{ doc.issuesFormatted() }}:: {{ doc.stageRelevance | titlecase }} ({{ doc.docType | lowercase }})</mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <b>Relevance: </b>{{ doc.procedures }}
    </p>
    <p>
      <b>Problems: </b>{{ doc.problems }}
    </p>
    <p *ngIf="doc.mainText">
      {{ doc.mainText }}
    </p>
    <p *ngIf="doc.s3key">
      <a [href]="doc.s3url()">Download</a>
    </p>  
  </mat-expansion-panel>
</mat-accordion>