<div class="example-container" [formGroup]="extractForm">
  <mat-form-field>
    <input matInput placeholder="Name (descriptive ID)" [formControlName]="'machine_name'">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" [formControlName]="'human_name'">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Relates to issues (split by comma)" [formControlName]="'issues'">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Relates to procedures (split by comma)" [formControlName]="'procedures'">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Relevant to problems (split by comma)" [formControlName]="'problems'">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Relevant to stage of action" [formControlName]="'stage_relevance'">
      <mat-option value="BEGINNER">Beginner</mat-option>
      <mat-option value="INTERMEDIATE">Intermediate</mat-option>
      <mat-option value="ADVANCED">Advanced</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field> -->
    <mat-radio-group [formControlName]="'docType'">
      <mat-radio-button value="EXTRACT" style="margin-right: 18px">Extract</mat-radio-button>
      <mat-radio-button value="FULL">Full document</mat-radio-button>
    </mat-radio-group>    
  <!-- </mat-form-field> -->
  <mat-form-field *ngIf="extractForm?.get('docType').value == 'EXTRACT'">
    <textarea matInput placeholder="Content" [formControlName]="'main_text'" rows="10"></textarea>
  </mat-form-field>
  <mat-form-field *ngIf="extractForm?.get('docType').value == 'FULL'">
    <input matInput placeholder="AWS S3 bucket" [formControlName]="'doc_bucket'">
  </mat-form-field>
  <mat-form-field *ngIf="extractForm?.get('docType').value == 'FULL'">
    <input matInput placeholder="AWS S3 key" [formControlName]="'doc_key'">
  </mat-form-field>
  <div class="button-row" style="margin-top: 18px">
    <button (click)="submit()" mat-raised-button color="primary" style="color: white" [disabled]="!extractForm.valid">
      Submit
    </button>
  </div>
</div>

<mat-progress-spinner *ngIf="submitting"
        class="progress-spinner"
        [color]="'primary'"
        [mode]="'indeterminate'">
</mat-progress-spinner>
