<mat-toolbar class="mat-elevation-z6" color="primary">
    <span style="color: white">Grassroot</span>
    <div class="flex-spacer"></div>
    <a mat-button [routerLink]="['/login']" class="navbar-item" *ngIf="!loggedIn">Login</a>
    <a mat-button [routerLink]="['/query']" class="navbar-item" *ngIf="loggedIn">Query graph</a>
    <div class="flex-spacer"></div>
    <a mat-button [routerLink]="['/dashboard']" class="navbar-item" *ngIf="loggedIn">Summary statistics</a>
    <div class="flex-spacer"></div>
    <a mat-button [routerLink]="['/document']" class="navbar-item" *ngIf="loggedIn">Add a document</a>
    <div class="flex-spacer"></div>
    <a mat-button (click)="logout()" class="navbar-item" *ngIf="loggedIn">Logout</a>
</mat-toolbar>
<router-outlet></router-outlet>