<div class="example-container" [formGroup]="loginForm">
  <p style="text-align: center; font-size: 1.2rem">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
    </mat-form-field>
  </p>
  <p style="text-align: center; font-size: 1.2rem">
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password"/>
    </mat-form-field>
  </p>
  <div style="text-align: center; font-size: 1.2rem">
    <button type="button" (click)="onSubmit()" mat-raised-button color="primary" 
      style="color: white" [disabled]="!loginForm.valid">
      Login
    </button>
  </div>
</div>